.modal {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.29);
    backdrop-filter: blur(3px);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}
.content {
    position: absolute;
    background: white;
    width: 40%;
    padding: 1em 2em;
    border-radius: 15px;
    font-family: Courier New, serif;
    text-align: center;
}
.modal:target {
    visibility: visible;
    opacity: 1;
}

.box-close {
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #d00000;
    text-decoration: none;
    font-size: 30px;
    line-height: 20px;
}

.box-close:hover {
    background-color: rgba(143, 0, 0, 0.14);
    border-radius: 45px;
}

.modal_title{
    cursor: default;
    color: #8F0000;
    text-transform: uppercase;
}

.git_link{
    color: black;
    border-radius: 10px;
    padding: 0 30px 0 30px;
}

.git_link:hover{
    text-decoration: none;
    color: #8F0000;
    cursor: pointer;
    background-color: rgba(143, 0, 0, 0.14);
}

.links {
    margin: 5px;
    padding: 5px;
}

.star {
    height: 80px;
    width: 80px;
}

.dark {
    .content {
        background: rgb(52, 52, 52);
    }

    .box-close:hover {
        background-color: rgba(255, 133, 133, 0.29);
    }

    .git_link {
        color: white;
    }

    .git_link:hover {
        background-color: rgba(255, 133, 133, 0.29);
    }

    .modal_title {
        color: #ff3c3c;
    }
}