.main{
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin: 0 5px 5px 5px;
    padding: 0 5px;
    flex-basis: 90%;

    background: #FFF;
    border: 1px solid #C8C8C8;
}

.main-dark {
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin: 0 5px 5px 5px;
    padding: 0 5px;
    flex-basis: 90%;

    background: rgb(52, 52, 52);
    border: 1px solid #303030;
}
