.settings_content {
    position: absolute;
    background: white;
    width: 40%;
    padding: 1em 2em;
    border-radius: 15px;
    font-family: Courier New, serif;
    text-align: left;
    letter-spacing: 1px;
}

.settings_header {
    margin: 0 0 30px 0;
    text-align: center;
    color: #8F0000;
}

.theme_container {
    margin: 20px;
    display: flex;
    align-items: center;
}

.feedback {
    display: flex;
    justify-content: center;
    color: #8F0000;
    border-radius: 10px;
}

.settings_icon {
    height: 32px;
    width: 32px;
    margin-right: 5px;
    filter: invert(9%) sepia(100%) saturate(6831%) hue-rotate(8deg) brightness(93%) contrast(113%);
}

.lang_select {
    margin: 0 10px 0 10px;
    height: 30px;
    width: 150px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #c70000;
    text-align: center;
    font-family: Courier New, serif;
    font-weight: bold;
}

.dark {
    .settings_content {
        background-color: #393939;
        color: white;
    }

    .lang_select {
        background-color: #303030;
        color: white;
    }

    .settings_header {
        color: #ff3c3c;
    }

    .feedback {
        color: #ff3c3c;
    }
}
